@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

.contentLabel {
    -fx-font: 40px "Poppins";
}

.contentContainer {
    -fx-background-color: white; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.2, 0, 0); 
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: rgb(50, 144, 255) transparent transparent transparent; 
    -fx-border-width: 5px 0px 0px 0px; 
}

.tableTitle {
    -fx-font: 32px Poppins;
}