@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

.lapanganTitle {
    -fx-font: 30px Helvetica;
    -fx-text-fill: rgb(50, 144, 255);
}

.tableColumn {
    -fx-font: 14px Helvetica;
}

.button {
    -fx-font: 16px Helvetica;
}

.contentContainer {
    -fx-background-color: white; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.2, 0, 0); 
    -fx-background-radius: 10px;
}

/* #tambahButton {
    -fx-background-color: rgb(255, 99, 99);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 0);
    -fx-background-radius: 10px; 
}

#tambahButton:hover {
    -fx-background-color: rgb(255, 139, 139);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 0);
    -fx-background-radius: 10px; 
}

#editButton {
    -fx-background-color: rgb(241, 241, 3);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 0);
    -fx-background-radius: 10px; 
}

#editButton:hover {
    -fx-background-color: rgb(255, 255, 111);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 0);
    -fx-background-radius: 10px; 
}

#hapusButton {
    -fx-background-color: rgb(4, 221, 4);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 0);
    -fx-background-radius: 10px; 
}

#hapusButton:hover {
    -fx-background-color: rgb(39, 247, 39);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.2, 0, 0);
    -fx-background-radius: 10px; 
} */