.vbox {
    -fx-border-color: rgb(50, 144, 255) transparent transparent transparent; 
    -fx-border-width: 5px; 
    -fx-background-color: white;
}

.loginTitle {
    -fx-font: bold 20px Arial;
    -fx-text-fill: rgb(50, 144, 255);
}